{% extends 'backstore/layout/base.html' %} {% block content %}
  <div class="content-header">
    <div class="d-flex align-items-center">
      <div class="me-auto">
        <h4 class="page-title">{{ title }}</h4>
        <div class="d-inline-block align-items-center">
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'dashboard' %}"><i class="mdi mdi-home-outline"></i></a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-12 col-xl-5">
        <div class="clicked">
          {% include 'backstore/include/kavling.html' with kavlings=kavlings noinfo=True action='transaksi_form' %}
        </div>
      </div>
      <div class="col-12 col-xl-7 ps-20">
        {% if kavlings %}
          <div class="d-flex align-items-center">
            <div style="height: 10px; width: 30px; background-color: white"></div>
            <small class="ms-2">Tersedia</small>
          </div>
          <div class="d-flex align-items-center">
            <div style="height: 10px; width: 30px; background-color: blue"></div>
            <small class="ms-2">Booking</small>
          </div>
          <div class="d-flex align-items-center">
            <div style="height: 10px; width: 30px; background-color: red"></div>
            <small class="ms-2">Terjual Kredit</small>
          </div>
          <div class="d-flex align-items-center">
            <div style="height: 10px; width: 30px; background-color: green"></div>
            <small class="ms-2">Terjual Cash</small>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endblock %} {% block script %}
  <script>
    $('.clicked g').each(function () {
      $(this).on('click', function () {
        const url = $(this).data('href')
        if (url) {
          window.location.href = url
        } else {
          return toastr.warning('Kavling sudah terjual/booking')
        }
      })
    })
  </script>
{% endblock %}
