{% load static %}
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar-->
  <section class="sidebar position-relative">
    <div class="multinav">
      <div class="multinav-scroll" style="height: 100%">
        <!-- sidebar menu-->
        <ul class="sidebar-menu" data-widget="tree">
          <li
            class="{% if request.resolver_match.url_name == 'dashboard' %} active {% endif %}"
          >
            <a href="{% url 'dashboard' %}">
              <img
                src="{% static 'images/svg-icon/sidebar-menu/dashboard.svg' %}"
                class="svg-icon"
                alt=""
              />
              <span>Dashboard</span>
            </a>
          </li>
          <li class="treeview">
            <a href="#">
              <img
                src="{% static 'images/svg-icon/sidebar-menu/uielements.svg' %}"
                class="svg-icon"
                alt=""
              />
              <span>Master Data</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-right pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li
                class="{% if request.resolver_match.url_name == 'kavling' %} active {% endif %}"
              >
                <a href="{% url 'kavling' %}">
                  <i class="ti-more"></i>
                  <span>Kavling</span>
                </a>
              </li>
              <li
                class="{% if request.resolver_match.url_name == 'marketing' %} active {% endif %}"
              >
                <a href="{% url 'marketing' %}">
                  <i class="ti-more"></i>
                  <span>Marketing</span>
                </a>
              </li>
              <li
                class="{% if request.resolver_match.url_name == 'customer' %} active {% endif %}"
              >
                <a href="{% url 'customer' %}">
                  <i class="ti-more"></i>
                  <span>Customer</span>
                </a>
              </li>
            </ul>
          </li>
          <li
            class="{% if request.resolver_match.url_name == 'transaksi' or request.resolver_match.url_name == 'transaksi_form' %} active {% endif %}"
          >
            <a href="{% url 'transaksi' %}">
              <img
                src="{% static 'images/svg-icon/sidebar-menu/transactions.svg' %}"
                class="svg-icon"
                alt=""
              />
              <span>Transaksi</span>
            </a>
          </li>
          <li
            class="{% if request.resolver_match.url_name == 'penjualan' or request.resolver_match.url_name == 'penjualan_detail' %} active {% endif %}"
          >
            <a href="{% url 'penjualan' %}">
              <img
                src="{% static 'images/svg-icon/sidebar-menu/forms1.svg' %}"
                class="svg-icon"
                alt=""
              />
              <span>Penjualan</span>
            </a>
          </li>
          <li
            class="{% if request.resolver_match.url_name == 'user' %} active {% endif %}"
          >
            <a href="{% url 'user' %}">
              <img
                src="{% static 'images/svg-icon/user.svg' %}"
                class="svg-icon"
                alt=""
              />
              <span>User</span>
            </a>
          </li>
          <li
            class="{% if request.resolver_match.url_name == 'site' %} active {% endif %}"
          >
            <a href="{% url 'site' %}">
              <img
                src="{% static 'images/svg-icon/settings.svg' %}"
                class="svg-icon"
                alt=""
              />
              <span>Pengaturan Website</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</aside>
