<form
  novalidate
  autocomplete="off"
  method="post"
  id="main-form"
  action="{% url 'kavling_import' %}"
>
  {% csrf_token %}
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Import</h5>
        <button
          type="button"
          class="btn-close text-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="form-group input-blocks">
            <label for="kode">Kode SVG:</label>
            <textarea
              name="kode"
              class="form-control"
              required
              id="kode"
              rows="10"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer modal-footer-uniform d-flex">
        <button
          type="button"
          class="btn btn-sm btn-danger"
          data-bs-dismiss="modal"
        >
          Tutup
        </button>
        <button type="submit" class="btn btn-sm btn-primary float-end">
          Import
        </button>
      </div>
    </div>
  </div>
</form>
