{% extends 'backstore/layout/base.html' %} {% block content %}
{% load humanize %}
{% load l10n %}
  <div class="content-header">
    <div class="d-flex align-items-center">
      <div class="me-auto">
        <h4 class="page-title">{{ title }}</h4>
        <div class="d-inline-block align-items-center">
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'dashboard' %}"><i class="mdi mdi-home-outline"></i></a>
              </li>
              <li class="breadcrumb-item" aria-current="page">Master</li>
              <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-8">
        <div class="box">
          <div class="box-header with-border d-flex justify-content-between align-items-center">
            <h4 class="box-title">List {{ title }}</h4>
            <a href="#" class="btn btn-sm btn-primary ajax_modal" data-url="{% url 'kavling_import' %}" class="btn btn-primary btn-sm">Import</a>
          </div>
          <div class="box-body">
            <div class="table-responsive">
              <table class="table no-margin table-hover" id="items-table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Lokasi</th>
                    <th>Luas</th>
                    <th>Harga</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- daftar task -->
                  {% if datas %}
                    {% for data in datas %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ data.kode_kavling }}</td>
                        <td>{{ data.luas_tanah }}m2</td>
                        <td>Rp. {{ data.harga_jual_cash|intcomma }}</td>
                        <td>
                          {% if data.status == 0 %}
                            <span class="label label-primary">Tersedia</span>
                          {% elif data.status == 1 %}
                            <span class="label label-warning">Booking</span>
                          {% elif data.status == 2 %}
                            <span class="label label-success">
                              Terjual{% if data.is_cash == 1 %}
                                Cash
                              {% elif data.is_cash == 0 %}
                                Kredit
                              {% endif %}
                            </span>
                          {% endif %}
                        </td>
                        <td class="text-center">
                          <div class="list-icons d-inline-flex">
                            <a href="#" class="list-icons-item me-10 ajax_modal" data-url="{% url 'kavling_update' data.id %}"><i class="fa fa-pencil"></i></a>
                            <a href="#" class="list-icons-item me-10 ajax_modal" data-url="{% url 'kavling_delete' data.id %}"><i class="fa fa-trash"></i></a>
                          </div>
                        </td>
                      </tr>
                    {% endfor %}
                  {% else %}
                    <tr>
                      <td colspan="6" class="text-center">Data tidak ditemukan.</td>
                    </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="box">
          <div class="box-header without-border d-flex justify-content-between align-items-center">
            <h4 class="box-title">Preview Kavling</h4>
            <a href="#" class="btn btn-primary btn-sm ajax_modal" data-url="{% url 'kavling_template' %}" class="btn btn-primary btn-sm">Ubah</a>
          </div>
          <div class="box-body">
            {{kavling.template_kavling|safe}}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block script %}

{% endblock %}
