{% extends 'backstore/layout/base.html' %} {% block content %}
{% load humanize %}
{% load l10n %}
  <div class="content-header">
    <div class="d-flex align-items-center">
      <div class="me-auto">
        <h4 class="page-title">{{ title }}</h4>
        <div class="d-inline-block align-items-center">
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'dashboard' %}"><i class="mdi mdi-home-outline"></i></a>
              </li>
              <li class="breadcrumb-item" aria-current="page">Master</li>
              <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-12 col-xl-8">
        <div class="box">
          <div class="box-header with-border d-flex justify-content-between align-items-center">
            <h4 class="box-title">List {{ title }}</h4>
            <a href="#" class="btn btn-sm btn-primary ajax_modal" data-url="{% url 'kavling_import' %}" class="btn btn-primary btn-sm">Import</a>
          </div>
          <div class="box-body">
            <div class="table-responsive">
              <table class="table no-margin table-hover" id="items-table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Lokasi</th>
                    <th>Luas</th>
                    <th>Harga</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- daftar task -->
                  {% if datas %}
                    {% for data in datas %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td class="fw-bold">{{ data.kode_kavling }}</td>
                        <td>{{ data.luas_tanah }}m<sup>2</sup></td>
                        <td>Rp. {{ data.harga_jual_cash|intcomma }}</td>
                        <td>
                          {% if data.status == 0 %}
                            <span class="label label-white">Tersedia</span>
                          {% elif data.status == 1 %}
                            <span class="label label-primary">Booking</span>
                          {% elif data.status == 2 %}
                          {% if data.transaksi.tipe_transaksi == 1 %}
                          <span class="label label-success">
                                Terjual Cash
                          </span>
                              {% elif data.transaksi.tipe_transaksi == 2 %}
                              <span class="label label-danger">
                                Terjual Kredit
                              </span>
                              {% endif %}
                          {% endif %}
                        </td>
                        <td class="text-center">
                          <div class="list-icons d-inline-flex">
                            <a href="#" class="list-icons-item me-10 ajax_modal" data-url="{% url 'kavling_update' data.id %}"><i class="fa fa-pencil"></i></a>
                            <a href="#" class="list-icons-item me-10 ajax_modal" data-url="{% url 'kavling_delete' data.id %}"><i class="fa fa-trash"></i></a>
                          </div>
                        </td>
                      </tr>
                    {% endfor %}
                  {% else %}
                    <tr>
                      <td colspan="6" class="text-center">Data tidak ditemukan.</td>
                    </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-4">
        <div class="box">
          <div class="box-header without-border d-flex justify-content-between align-items-center">
            <h4 class="box-title">Preview Kavling</h4>
            <a href="#" class="btn btn-primary btn-sm ajax_modal" data-url="{% url 'kavling_template' %}" class="btn btn-primary btn-sm">Ubah</a>
          </div>
          <div class="box-body">
            {%include 'backstore/include/kavling.html' %}
          </div>
          <div class="box-footer">
            Belum ada template? buat <a href="{% url 'svg' %}" target="_blank">disini</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block script %}
<script>
  $(document).ready(function() {
    const cariHargaJual = (luas, harga_per_m) => luas * harga_per_m

    
    $('#ajax-modal').on('shown.bs.modal', function () {
      $('#id_luas_tanah,#id_harga_per_meter').on('input', function(){
        const value_luas = $('#id_luas_tanah').val()
        const value_harga = $('#id_harga_per_meter').val()
  
        const totalHarga = cariHargaJual(value_luas, value_harga)
        
        $('#id_harga_jual_cash').val(totalHarga)
      })
      // Code to execute when modal is shown
    })
  });
</script>

{% endblock %}